<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Create",   '#' %></li>
        <li><%= link_to "New",   '#' %></li>
        <li><%= link_to "Show", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
